    <img src="/images/hands.png" width=250px height=125px>
    <h3> Añadir preguntas: </h3> 
    <form method="get" action="/quizes/addreg">
        Pregunta : 
        <input type="text" name="pregunta" value="Pregunta"/>
        Respuesta :
        <input type="text" name="respuesta" value="Respuesta"/>
        <input type="submit" value="Enviar">
    </form>
    