<table>
<<<<<<< HEAD
<% var i; for (i=0;i<quizes.length;i++){ %>
=======
<% var i; for (i=0;i<quizes,length;i++){ %>
>>>>>>> 38f79c0fa9b2ae4110e90b75d05d6e47d7f64cd8
    <tr><td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr>
<% } %>    
</table>
