    <img src="/images/search.png" width=80px height=80px>
    <form method="get" action="/quizes/searchshow">
        <h3>Buscar preguntas con :</h3> 
        <input type="text" name="texto" value="Texto a buscar"/>
        <% include _form.ejs %>
        <input type="submit" value="Buscar">
    </form>
    